newBookingFinder.json
{
  "name": "Hostfully to Operto Reservation Cleaning Sync",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "cleaningJobId": "={{ $json.cleaningJobId }}"
          },
          "matchingColumns": [
            "bookingUid"
          ],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "propertyUid",
              "displayName": "propertyUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "guestName",
              "displayName": "guestName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checkIn",
              "displayName": "checkIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checkOut",
              "displayName": "checkOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adultCount",
              "displayName": "adultCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdUtc",
              "displayName": "createdUtc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cleaningStatus",
              "displayName": "cleaningStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cleaningJobId",
              "displayName": "cleaningJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAtSystem",
              "displayName": "createdAtSystem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "childrenCount",
              "displayName": "childrenCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "maintenanceStatus",
              "displayName": "maintenanceStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payrollStatus",
              "displayName": "payrollStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a3b020e3-ded4-48f9-8905-6f0bc3cd1a88",
      "name": "Update Reservation with Cleaning Job ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3584,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "CleaningJobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cleaningJobId": "={{ $json.cleaningJobId }}",
            "bookingUid": "={{ $json.bookingUid }}",
            "propertyUid": "={{ $json.propertyUid }}",
            "cleaningDate": "={{ $json.cleaningDate }}",
            "cleaningTime": "={{ $json.cleaningTime }}",
            "checkoutTimeUTC": "={{ $json.checkoutTimeUTC }}",
            "scheduledCleaningTimeUTC": "={{ $json.scheduledCleaningTimeUTC }}",
            "status": "PENDING",
            "createdAtSystem": "={{ $json.createdAtSystem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cleaningJobId",
              "displayName": "cleaningJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "propertyUid",
              "displayName": "propertyUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningDate",
              "displayName": "cleaningDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningTime",
              "displayName": "cleaningTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignedCleaner",
              "displayName": "assignedCleaner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clockIn",
              "displayName": "clockIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clockOut",
              "displayName": "clockOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workedHours",
              "displayName": "workedHours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAtSystem",
              "displayName": "createdAtSystem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleanerId",
              "displayName": "cleanerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignedAt",
              "displayName": "assignedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notificationStatus",
              "displayName": "notificationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendarStatus",
              "displayName": "calendarStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendarEventId",
              "displayName": "calendarEventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendarId",
              "displayName": "calendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processingFlag",
              "displayName": "processingFlag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clockInTimeUTC",
              "displayName": "clockInTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsClockInLat",
              "displayName": "gpsClockInLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsClockInLng",
              "displayName": "gpsClockInLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsStatus",
              "displayName": "gpsStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lateFlag",
              "displayName": "lateFlag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checkoutTimeUTC",
              "displayName": "checkoutTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduledCleaningTimeUTC",
              "displayName": "scheduledCleaningTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c9810025-ded5-4406-ac37-648a42c0360d",
      "name": "Create Cleaning Job Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3360,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Strict UTC only. Only checkOutZonedDateTime from Hostfully. scheduledCleaningTimeUTC = checkoutTimeUTC.\nconst ZONED_REGEX = /[zZ]|[+-]\\d{2}:\\d{2}$/;\nconst j = $input.first().json;\n// Always read the zoned checkout from Merge Lead and Lookup so we keep the Hostfully field\n// even when this node is reached via Create Reservation Record.\nconst lead = (() => {\n  try {\n    const n = $('Merge Lead and Lookup');\n    if (n && typeof n.last === 'function') {\n      const v = n.last().json;\n      if (v && typeof v === 'object') return v;\n    }\n  } catch (_) {}\n  return j || {};\n})();\nconst bookingUid = lead?.uid || lead?.bookingUid || j?.uid || j?.bookingUid || '';\nconst cleaningJobId = bookingUid ? bookingUid + '_CLEAN' : '';\nconst rawCheckout = lead?.checkOutZonedDateTime;\nif (!rawCheckout || typeof rawCheckout !== 'string' || rawCheckout.trim() === '')\n  throw new Error('Missing required column configuration: checkout time not provided');\nconst s = rawCheckout.trim();\nif (!ZONED_REGEX.test(s))\n  throw new Error('Invalid checkout time: timezone offset or Z required');\nconst checkoutDate = new Date(s);\nif (isNaN(checkoutDate.getTime()))\n  throw new Error('Invalid checkout time: cannot parse date');\nconst checkoutTimeUTC = checkoutDate.toISOString();\nconst scheduledCleaningTimeUTC = checkoutTimeUTC;\nconst dateTime = s;\nreturn [{ json: { cleaningJobId, bookingUid, propertyUid: lead?.propertyUid ?? j?.propertyUid ?? '', cleaningDate: dateTime, cleaningTime: dateTime, checkoutTimeUTC, scheduledCleaningTimeUTC, status: 'PENDING', assignedCleaner: '', clockIn: '', clockOut: '', workedHours: '', createdAtSystem: new Date().toISOString() } }];"
      },
      "id": "8238de21-a6c7-4d16-945d-f8d9a367ca7b",
      "name": "Prepare Cleaning Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        320
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.uid }}",
            "propertyUid": "={{ $json.propertyUid }}",
            "guestName": "={{ ($json.guestInformation?.firstName || '') + ' ' + ($json.guestInformation?.lastName || '') }}",
            "checkIn": "={{ $json.checkInLocalDateTime }}",
            "checkOut": "={{ $json.checkOutLocalDateTime }}",
            "adultCount": "={{ $json.guestInformation?.adultCount ?? '' }}",
            "source": "={{ $json.channel }}",
            "createdUtc": "={{ $json.metadata?.createdUtcDateTime }}",
            "cleaningStatus": "PENDING",
            "maintenanceStatus": "NONE",
            "payrollStatus": "NOT_STARTED",
            "createdAtSystem": "={{ $now.toISO() }}",
            "childrenCount": "={{ $json.guestInformation?.childrenCount ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "propertyUid",
              "displayName": "propertyUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guestName",
              "displayName": "guestName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkIn",
              "displayName": "checkIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkOut",
              "displayName": "checkOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "adultCount",
              "displayName": "adultCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdUtc",
              "displayName": "createdUtc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningStatus",
              "displayName": "cleaningStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningJobId",
              "displayName": "cleaningJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAtSystem",
              "displayName": "createdAtSystem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "childrenCount",
              "displayName": "childrenCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "maintenanceStatus",
              "displayName": "maintenanceStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payrollStatus",
              "displayName": "payrollStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "43a7ec55-1cad-425b-b6da-0d5fcd5ad651",
      "name": "Create Reservation Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2912,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cleaning-job-needed",
              "leftValue": "={{ ($json.cleaningJobId ?? '').toString().trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e09deb30-e621-43e9-a2b7-39ff9a8f4908",
      "name": "Cleaning Job Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2912,
        416
      ],
      "notes": "When reservation exists: TRUE = no cleaningJobId → create cleaning job; FALSE = has cleaning job → skip."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "if-reservation-exists",
              "leftValue": "={{ $json._noMatch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1118533b-80c9-4c62-a32d-5084ef17f031",
      "name": "Reservation Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2688,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run after Ensure One Item; read lead from Split In Batches and lookup from Ensure One Item.\nconst lead = $('Split In Batches').last().json;\nconst lookup = $('Ensure One Item').last().json;\nreturn [{ json: { ...lead, ...lookup } }];"
      },
      "id": "044586e7-bbdf-42a7-9072-b430f9343829",
      "name": "Merge Lead and Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        320
      ],
      "notes": "Replaces Merge node: combines current lead + lookup result so both are always defined."
    },
    {
      "parameters": {
        "jsCode": "let items = [];\ntry { if ($input && typeof $input.all === 'function') items = $input.all(); } catch (_) {}\nif (!items.length) return [{ json: { _noMatch: true } }];\nconst first = items[0].json || {};\n// When Lookup has \"Always output data\", 0 rows still send one item - treat as no match if no real reservation data\nconst hasRealMatch = first.bookingUid !== undefined && first.bookingUid !== null && String(first.bookingUid).trim() !== '';\nif (!hasRealMatch) return [{ json: { _noMatch: true } }];\nreturn [{ json: { ...first, _noMatch: false } }];"
      },
      "id": "912aea6d-8ae5-47ff-8ffb-0a721ae5eb42",
      "name": "Ensure One Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        320
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "bookingUid",
              "lookupValue": "={{ $json.uid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5c56297-7c8e-48f2-bbec-57df60f7e4ec",
      "name": "Lookup Reservation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2016,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f8fbe0cf-5b79-48ff-aab8-d897f0a62b56",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        592
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "timeStamps",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.key }}",
            "storedTimestamp": "={{ $json.storedTimestamp }}",
            "row_number": 0
          },
          "matchingColumns": [
            "key"
          ],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "storedTimestamp",
              "displayName": "storedTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b6354cac-2e05-49ea-b108-5936b1b48766",
      "name": "Update Stored Timestamp",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2240,
        512
      ],
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Updates the row where key=config with new storedTimestamp. Same sheet as Read Last Timestamp."
    },
    {
      "parameters": {
        "jsCode": "const data = $('Accumulate Leads').last().json;\nconst leads = data?.accumulatedLeads || [];\nlet maxUpdated = null;\nfor (const lead of leads) {\n  const t = lead?.metadata?.updatedUtcDateTime;\n  if (t && (!maxUpdated || t > maxUpdated)) maxUpdated = t;\n}\nlet newStoredTimestamp = maxUpdated || data?.storedTimestamp || '1970-01-01T00:00:00.000Z';\n// Advance by 1 ms so the next run never sees \"equal\" timestamp (avoids skipping a booking forever)\nif (maxUpdated) {\n  const d = new Date(newStoredTimestamp);\n  d.setUTCMilliseconds(d.getUTCMilliseconds() + 1);\n  newStoredTimestamp = d.toISOString();\n}\nreturn [{ json: { key: 'config', storedTimestamp: newStoredTimestamp } }];"
      },
      "id": "ceb7b0d2-f5a5-4c60-bbc9-373a6f08771a",
      "name": "Compute Max After Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        512
      ],
      "notes": "Runs only when Split In Batches (Done) fires. Reads from Accumulate Leads to avoid timestamp race."
    },
    {
      "parameters": {
        "jsCode": "const storedTimestamp = $('Accumulate Leads').last().json?.storedTimestamp || '1970-01-01T00:00:00.000Z';\nconst items = $input.all();\nconst filtered = [];\nfor (const item of items) {\n  const lead = item.json;\n  const created = lead?.metadata?.createdUtcDateTime;\n  if (created && created > storedTimestamp && lead?.type === 'BOOKING' && lead?.status === 'BOOKED') {\n    filtered.push(item);\n  }\n}\nreturn filtered;"
      },
      "id": "7be5f2d3-f2ed-448f-b9c6-4182fb8d075e",
      "name": "Filter New Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Accumulate Leads').last().json;\nconst leads = data?.accumulatedLeads || [];\nconst storedTimestamp = data?.storedTimestamp\n  || '1970-01-01T00:00:00.000Z';\n\nconst ZONED_REGEX = /[zZ]|[+-]\\d{2}:\\d{2}$/;\n\nconst candidates = [];\n\nfor (const lead of leads) {\n  const created = lead?.metadata?.createdUtcDateTime;\n  const updated = lead?.metadata?.updatedUtcDateTime;\n\n  if (lead?.type !== 'BOOKING' || lead?.status !== 'BOOKED') continue;\n  if (!updated || !created) continue;\n  if (updated <= storedTimestamp) continue;\n  if (created > storedTimestamp) continue;\n\n  const rawCheckout = lead?.checkOutZonedDateTime;\n  if (!rawCheckout || !ZONED_REGEX.test(rawCheckout.trim())) continue;\n\n  const checkoutDate = new Date(rawCheckout.trim());\n  if (isNaN(checkoutDate.getTime())) continue;\n\n  const checkoutTimeUTC = checkoutDate.toISOString();\n  const checkoutDateOnly = checkoutTimeUTC.substring(0, 10);\n  const checkoutTimeOnly = checkoutTimeUTC.substring(11, 16);\n\n  candidates.push({\n    bookingUid: lead.uid || '',\n    propertyUid: lead.propertyUid || '',\n    newCheckOut: lead.checkOutLocalDateTime || checkoutDateOnly,\n    newCheckoutTimeUTC: checkoutTimeUTC,\n    newScheduledCleaningTimeUTC: checkoutTimeUTC,\n    newCleaningDate: checkoutDateOnly,\n    newCleaningTime: checkoutTimeOnly\n  });\n}\n\nreturn candidates.map(c => ({ json: c }));"
      },
      "id": "a8e6d4c2-1b3f-4a5e-9d7c-0f2e8a1b3c4d",
      "name": "Detect Extended Checkouts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        820
      ]
    },
    {
      "parameters": {},
      "id": "c0a8f6e4-3d5b-6c7a-1f9e-2b3c4d5e6f7a",
      "name": "Split Extended Candidates",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2016,
        820
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reservations",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "bookingUid",
              "lookupValue": "={{ $json.bookingUid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2c0a8f6-3d5b-4e7a-9f1e-2b3c4d5e6f8a",
      "name": "Lookup Reservation for Candidate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2240,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lookupItems = $('Lookup Reservation for Candidate').all();\nconst candidate = $('Split Extended Candidates').item.json;\n\nconst reservationFound = lookupItems.length > 0 &&\n  lookupItems[0].json?.bookingUid !== undefined &&\n  lookupItems[0].json?.bookingUid !== null &&\n  String(lookupItems[0].json?.bookingUid).trim() !== '';\n\nif (!reservationFound) return [];\n\nreturn [{ json: candidate }];"
      },
      "id": "f3d1b9a7-4e6c-5f8b-0a2f-3c4d5e6f7a9b",
      "name": "Reservation Exists Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_N8N_WEBHOOK_BASE_URL/webhook/extended-checkout-handler",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "bookingUid", "value": "={{ $json.bookingUid }}" },
            { "name": "propertyUid", "value": "={{ $json.propertyUid }}" },
            { "name": "newCheckOut", "value": "={{ $json.newCheckOut }}" },
            { "name": "newCheckoutTimeUTC", "value": "={{ $json.newCheckoutTimeUTC }}" },
            { "name": "newScheduledCleaningTimeUTC", "value": "={{ $json.newScheduledCleaningTimeUTC }}" },
            { "name": "newCleaningDate", "value": "={{ $json.newCleaningDate }}" },
            { "name": "newCleaningTime", "value": "={{ $json.newCleaningTime }}" }
          ]
        },
        "options": {}
      },
      "id": "d1b9a7f5-4e6c-7d8b-2a0f-3c4d5e6f7a8b",
      "name": "Trigger Extended Checkout Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2720,
        820
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "accumulatedLeads",
        "options": {}
      },
      "id": "8b9dd296-df09-4427-a0b9-3bc34168faa4",
      "name": "Output Leads Individually",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1344,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d43ff919-7496-4ee8-b3ec-dc0cb340f6e0",
              "leftValue": "={{ $json.cursor }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "422d07b8-8108-4b56-84b6-753432df51da",
      "name": "Has More Pages?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use previous run of Accumulate Leads when runIndex > 0, else Initialize Cursor\nconst isFirstRun = typeof $runIndex === 'undefined' || $runIndex === 0;\nconst previousData = isFirstRun\n  ? $('Initialize Cursor').first().json\n  : $('Accumulate Leads').first(0, $runIndex - 1).json;\n\nconst response = $('Fetch Hostfully Leads').all()[0].json;\nconst newLeads = response.leads || [];\nconst nextCursor = response._paging?._nextCursor ?? null;\nconst storedTimestamp = previousData.storedTimestamp;\n\nreturn [{\n  json: {\n    cursor: nextCursor,\n    accumulatedLeads: [...(previousData.accumulatedLeads || []), ...newLeads],\n    storedTimestamp: storedTimestamp\n  }\n}];"
      },
      "id": "c54b320d-fb9a-4593-a710-756bdf414fb5",
      "name": "Accumulate Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        512
      ]
    },
    {
      "parameters": {
        "url": "=https://platform.hostfully.com/api/v3/leads?updatedSince={{ $json.storedTimestamp }}{{ $json.cursor ? '&_cursor=' + $json.cursor : '' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agencyUid",
              "value": "35842d2f-b5c1-46fa-a33d-a12756b42ed8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-HOSTFULLY-APIKEY",
              "value": "t0JOVEKKJhZfkvv1"
            }
          ]
        },
        "options": {}
      },
      "id": "10c10efb-074a-4b36-952d-fdc827dcc05f",
      "name": "Fetch Hostfully Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        672,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "let storedTimestamp = '1970-01-01T00:00:00.000Z';\ntry {\n  const readOut = $('Read Last Timestamp').first().json;\n  const raw = readOut?.storedTimestamp || readOut?.lastProcessedTimestamp;\n  if (typeof raw === 'string') {\n    storedTimestamp = raw.includes(' ') ? raw.replace(' ', 'T') : raw;\n  } else if (raw) {\n    storedTimestamp = raw;\n  }\n} catch (_) {}\nreturn [{ json: { cursor: null, accumulatedLeads: [], storedTimestamp } }];"
      },
      "id": "3ffce740-2767-4c8a-bd3f-d8df782b9f7a",
      "name": "Initialize Cursor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        592
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "timeStamps",
          "mode": "name"
        },
        "options": {}
      },
      "id": "719a3edf-ca5c-4321-a3a1-fe488e72de85",
      "name": "Read Last Timestamp",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        224,
        592
      ],
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Configure: Document (spreadsheet), Sheet. Sheet must have columns 'key' (A) and 'storedTimestamp' (B). Row 2: key=config, storedTimestamp=<ISO date>. Output field: storedTimestamp."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        592
      ],
      "id": "909a720c-0a00-4fe9-9539-be7f2d038402",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Cleaning Job Record": {
      "main": [
        [
          {
            "node": "Update Reservation with Cleaning Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cleaning Job Data": {
      "main": [
        [
          {
            "node": "Create Cleaning Job Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reservation Record": {
      "main": [
        [
          {
            "node": "Prepare Cleaning Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Job Needed?": {
      "main": [
        [
          {
            "node": "Prepare Cleaning Job Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservation Exists?": {
      "main": [
        [
          {
            "node": "Cleaning Job Needed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Reservation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead and Lookup": {
      "main": [
        [
          {
            "node": "Reservation Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure One Item": {
      "main": [
        [
          {
            "node": "Merge Lead and Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Reservation": {
      "main": [
        [
          {
            "node": "Ensure One Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reservation with Cleaning Job ID": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Compute Max After Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Max After Loop": {
      "main": [
        [
          {
            "node": "Update Stored Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Bookings": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Extended Checkouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Extended Checkouts": {
      "main": [
        [
          {
            "node": "Split Extended Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Extended Candidates": {
      "main": [
        [
          {
            "node": "Lookup Reservation for Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Reservation for Candidate": {
      "main": [
        [
          {
            "node": "Reservation Exists Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservation Exists Guard": {
      "main": [
        [
          {
            "node": "Trigger Extended Checkout Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Leads Individually": {
      "main": [
        [
          {
            "node": "Filter New Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?1": {
      "main": [
        [
          {
            "node": "Output Leads Individually",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Hostfully Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Leads": {
      "main": [
        [
          {
            "node": "Has More Pages?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hostfully Leads": {
      "main": [
        [
          {
            "node": "Accumulate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Cursor": {
      "main": [
        [
          {
            "node": "Fetch Hostfully Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Last Timestamp": {
      "main": [
        [
          {
            "node": "Initialize Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Last Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be00b240-bcb8-45fb-9726-077dd0404f6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a182e137b0efa52bc5ca70ffff0b22c853fa1e0bdd46efb5c0d20201c291f2e"
  },
  "id": "JKS8Imjt5Nvp1ReG",
  "tags": []
}