Phase3_ClockIn_Workflow.json
{
  "name": "Phase3_ClockIn_Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clock-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-clock-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "phase3-clock-in"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": { "__rl": true, "value": "CleaningJobs", "mode": "name" },
        "filtersUI": {
          "values": [
            { "lookupColumn": "bookingUid", "lookupValue": "={{ $json.body?.bookingUid ?? $json.bookingUid }}" }
          ]
        },
        "options": {}
      },
      "id": "lookup-cleaning-job",
      "name": "Get Cleaning Job",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [220, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "6WzYJIrG1pOhcusY", "name": "Google Sheets account" } },
      "notes": "Lookup CleaningJobs by bookingUid from webhook payload."
    },
    {
      "parameters": {
        "jsCode": "// Merge webhook body with job row. If no job found, output error. Strict required-column check (Fix #5).\nconst REQUIRED_COLUMNS = ['bookingUid','cleanerId','status','checkoutTimeUTC','scheduledCleaningTimeUTC','calendarEventId','clockInTimeUTC'];\nconst webhook = $('Webhook').first().json;\nconst body = webhook.body || webhook;\nconst items = $input.all();\nif (!items.length || !(items[0].json?.bookingUid || items[0].json?.bookinguid)) {\n  return [{ json: { _error: 'Invalid booking', _code: 400 } }];\n}\nconst job = items[0].json;\nfor (const col of REQUIRED_COLUMNS) {\n  if (job[col] === undefined || job[col] === null)\n    return [{ json: { _error: 'Missing required column configuration', _code: 500 } }];\n}\nreturn [{ json: { ...job, assignedCleanerId: (job.cleanerId ?? '').toString().trim(), ...body, bookingUid: job.bookingUid || body.bookingUid, cleanerId: (body.cleanerId ?? job.cleanerId ?? '').toString().trim(), gpsLat: body.gpsLat, gpsLng: body.gpsLng } }];"
      },
      "id": "check-lookup-merge",
      "name": "Check Lookup and Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "If no row: _error Invalid booking. Else validate required columns (Fix #5) then merge job + webhook body."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "no-error", "leftValue": "={{ $json._error }}", "rightValue": "", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-invalid-booking",
      "name": "If Invalid Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "notes": "FALSE = has _error → respond error. TRUE = continue to validations."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json._error }) }}",
        "options": { "responseCode": "={{ $json._code || 400 }}" }
      },
      "id": "respond-error-booking",
      "name": "Respond Error Invalid Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 180]
    },
    {
      "parameters": {
        "jsCode": "// STEP 2 – Validations. All must pass. Checkout uses ONLY checkoutTimeUTC (Fix #1).\nconst j = $input.first().json;\nconst incomingCleanerId = (j.cleanerId ?? '').toString().trim();\nconst assignedCleanerId = (j.assignedCleanerId ?? j.cleanerId ?? '').toString().trim();\nconst status = (j.status ?? '').toString().trim();\nconst clockInTimeUTC = (j.clockInTimeUTC ?? '').toString().trim();\nconst calendarEventId = (j.calendarEventId ?? '').toString().trim();\nconst now = new Date();\nconst checkoutTimeUTC = j.checkoutTimeUTC;\nconst checkoutTime = checkoutTimeUTC != null ? new Date(checkoutTimeUTC) : null;\n\nif (incomingCleanerId !== assignedCleanerId)\n  return [{ json: { ...j, _error: 'Cleaner does not match assigned cleaner', _code: 400 } }];\nif (status !== 'ASSIGNED')\n  return [{ json: { ...j, _error: 'Job status is not ASSIGNED', _code: 400 } }];\nif (clockInTimeUTC !== '')\n  return [{ json: { ...j, _error: 'Already clocked in', _code: 400 } }];\nif (!calendarEventId)\n  return [{ json: { ...j, _error: 'No calendar event for this job', _code: 400 } }];\nif (checkoutTime == null || isNaN(checkoutTime.getTime()))\n  return [{ json: { ...j, _error: 'Clock-in not allowed before checkout time', _code: 400 } }];\nif (now < checkoutTime)\n  return [{ json: { ...j, _error: 'Clock-in not allowed before checkout time', _code: 400 } }];\n\nreturn [{ json: { ...j } }];"
      },
      "id": "validations",
      "name": "Validations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 420],
      "notes": "Validate cleanerId match, status ASSIGNED, clockInTimeUTC empty, calendarEventId exists, server time >= checkoutTimeUTC only."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "val-ok", "leftValue": "={{ $json._error }}", "rightValue": "", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validation-failed",
      "name": "If Validation Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 420],
      "notes": "FALSE = validation error → respond error. TRUE = continue to GPS."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json._error }) }}",
        "options": { "responseCode": "={{ $json._code || 400 }}" }
      },
      "id": "respond-error-validation",
      "name": "Respond Error Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": { "__rl": true, "value": "CleanersProfile", "mode": "name" },
        "filtersUI": {
          "values": [
            { "lookupColumn": "property UID", "lookupValue": "={{ $json.propertyUid }}" }
          ]
        },
        "options": {}
      },
      "id": "lookup-property-coords",
      "name": "Get Property Coords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1320, 540],
      "credentials": { "googleSheetsOAuth2Api": { "id": "6WzYJIrG1pOhcusY", "name": "Google Sheets account" } },
      "notes": "Lookup CleanersProfile by propertyUid for propertyLat, propertyLng."
    },
    {
      "parameters": {
        "jsCode": "// STEP 3 – Haversine distance (meters) and gpsStatus. Strict type safety for GPS (Fix #4).\nconst item = $input.first().json;\nconst job = $('Validations').first().json;\nconst lat1 = Number(job.gpsLat);\nconst lon1 = Number(job.gpsLng);\nif (Number.isNaN(lat1) || Number.isNaN(lon1))\n  return [{ json: { ...job, _error: 'Invalid GPS coordinates', _code: 400 } }];\nconst getNum = (v) => (v !== undefined && v !== null && v !== '') ? Number(v) : NaN;\nconst lat2 = getNum(item.propertyLat ?? item.latitude ?? item.propertyLatitude);\nconst lon2 = getNum(item.propertyLng ?? item.longitude ?? item.propertyLongitude);\n\nfunction haversineMeters(lat1, lon1, lat2, lon2) {\n  const R = 6371000;\n  const dLat = (lat2 - lat1) * Math.PI / 180;\n  const dLon = (lon2 - lon1) * Math.PI / 180;\n  const a = Math.sin(dLat/2)**2 + Math.cos(lat1*Math.PI/180)*Math.cos(lat2*Math.PI/180)*Math.sin(dLon/2)**2;\n  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n  return R * c;\n}\n\nconst distance = (Number.isFinite(lat1) && Number.isFinite(lon1) && Number.isFinite(lat2) && Number.isFinite(lon2))\n  ? haversineMeters(lat1, lon1, lat2, lon2)\n  : null;\nconst gpsStatus = (distance !== null && distance <= 100) ? 'INSIDE_RADIUS' : 'OUTSIDE_RADIUS';\nreturn [{ json: { ...job, distance, gpsStatus } }];"
      },
      "id": "haversine-gps",
      "name": "Haversine and GPS Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 540],
      "notes": "Distance in meters; gpsStatus INSIDE_RADIUS if <= 100m else OUTSIDE_RADIUS. Do not block clock-in. NaN GPS returns 400 (Fix #4)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "gps-ok", "leftValue": "={{ $json._error }}", "rightValue": "", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-gps-invalid",
      "name": "If GPS Invalid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 540],
      "notes": "TRUE = no GPS error → Late Check. FALSE = Invalid GPS coordinates → Respond Error Validation (400)."
    },
    {
      "parameters": {
        "jsCode": "// STEP 4 – Late check. Use ONLY scheduledCleaningTimeUTC. All comparisons UTC-only.\nconst item = $input.first().json;\nconst scheduledCleaningTimeUTC = item.scheduledCleaningTimeUTC;\nconst serverTime = new Date();\nconst clockInTimeUTC = serverTime.toISOString();\nconst deadline = scheduledCleaningTimeUTC != null && scheduledCleaningTimeUTC !== '' ? new Date(scheduledCleaningTimeUTC) : null;\nif (deadline != null && !isNaN(deadline.getTime())) {\n  deadline.setUTCHours(deadline.getUTCHours() + 1);\n}\nconst lateFlag = deadline != null && !isNaN(deadline.getTime()) && serverTime > deadline;\nreturn [{ json: { ...item, lateFlag, clockInTimeUTC } }];"
      },
      "id": "late-check",
      "name": "Late Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 540],
      "notes": "lateFlag = true if serverTime > scheduledCleaningTimeUTC + 1 hour. No hardcoded 11:00."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "late", "leftValue": "={{ $json.lateFlag }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-late",
      "name": "If Late",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 540],
      "notes": "TRUE = send Late Clock-In Alert email then continue. FALSE = continue without email."
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_SMTP_FROM || 'noreply@example.com' }}",
        "toEmail": "={{ $env.N8N_ALERT_EMAIL || 'admin@example.com' }}",
        "subject": "Late Clock-In Alert",
        "emailType": "text",
        "message": "Late clock-in recorded.\n\nbookingUid: {{ $json.bookingUid }}\ncleanerId: {{ $json.cleanerId }}\nscheduledCleaningTime: {{ $json.scheduledCleaningTimeUTC }}\nactual clockInTime: {{ $json.clockInTimeUTC }}\ndistance (m): {{ $json.distance }}\ngpsStatus: {{ $json.gpsStatus }}",
        "options": {}
      },
      "id": "send-late-email",
      "name": "Send Late Clock-In Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2200, 420],
      "credentials": { "smtp": { "id": "YOUR_SMTP_CREDENTIAL_ID", "name": "SMTP account" } },
      "notes": "SMTP: Subject 'Late Clock-In Alert'. Configure SMTP credentials and N8N_ALERT_EMAIL."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": { "__rl": true, "value": "CleaningJobs", "mode": "name" },
        "filtersUI": {
          "values": [
            { "lookupColumn": "bookingUid", "lookupValue": "={{ $json.bookingUid }}" }
          ]
        },
        "options": {}
      },
      "id": "re-fetch-job",
      "name": "Re-Fetch Job Before Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2400, 540],
      "credentials": { "googleSheetsOAuth2Api": { "id": "6WzYJIrG1pOhcusY", "name": "Google Sheets account" } },
      "notes": "Fix #3: Re-fetch latest row by bookingUid immediately before update to prevent race condition."
    },
    {
      "parameters": {
        "jsCode": "// Fix #3 – Race condition: abort if clockInTimeUTC already set.\nconst reFetched = $input.first().json;\nconst preUpdate = $('Late Check').first().json;\nconst existing = (reFetched.clockInTimeUTC ?? '').toString().trim();\nif (existing !== '')\n  return [{ json: { _error: 'Clock-in already recorded', _code: 409 } }];\nreturn [{ json: { ...preUpdate } }];"
      },
      "id": "check-race-condition",
      "name": "Check Race Condition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 540],
      "notes": "If clockInTimeUTC not empty at update time → 409. Else pass pre-update payload."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "no-race", "leftValue": "={{ $json._error }}", "rightValue": "", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-race-condition",
      "name": "If Race Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 540],
      "notes": "TRUE = safe to update. FALSE = 409 Clock-in already recorded."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json._error }) }}",
        "options": { "responseCode": 409 }
      },
      "id": "respond-409",
      "name": "Respond 409 Already Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3060, 420],
      "notes": "Fix #3: Return 409 when clock-in already recorded (double submission)."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": { "__rl": true, "value": "CleaningJobs", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "clockInTimeUTC": "={{ $json.clockInTimeUTC }}",
            "gpsClockInLat": "={{ $json.gpsLat }}",
            "gpsClockInLng": "={{ $json.gpsLng }}",
            "gpsStatus": "={{ $json.gpsStatus }}",
            "lateFlag": "={{ $json.lateFlag }}",
            "status": "IN_PROGRESS"
          },
          "matchingColumns": ["bookingUid"],
          "schema": [
            { "id": "bookingUid", "displayName": "bookingUid", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "clockInTimeUTC", "displayName": "clockInTimeUTC", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "gpsClockInLat", "displayName": "gpsClockInLat", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false },
            { "id": "gpsClockInLng", "displayName": "gpsClockInLng", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false },
            { "id": "gpsStatus", "displayName": "gpsStatus", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "lateFlag", "displayName": "lateFlag", "required": false, "defaultMatch": false, "display": true, "type": "boolean", "canBeUsedToMatch": false },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "update-cleaning-job",
      "name": "Update Cleaning Job Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2640, 540],
      "credentials": { "googleSheetsOAuth2Api": { "id": "6WzYJIrG1pOhcusY", "name": "Google Sheets account" } },
      "notes": "Set clockInTimeUTC, gpsClockInLat, gpsClockInLng, gpsStatus, lateFlag, status IN_PROGRESS."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Clock-in successful', gpsStatus: $json.gpsStatus, lateFlag: $json.lateFlag }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2860, 540]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Cleaning Job", "type": "main", "index": 0 }]] },
    "Get Cleaning Job": { "main": [[{ "node": "Check Lookup and Merge", "type": "main", "index": 0 }]] },
    "Check Lookup and Merge": { "main": [[{ "node": "If Invalid Booking", "type": "main", "index": 0 }]] },
    "If Invalid Booking": {
      "main": [
        [{ "node": "Validations", "type": "main", "index": 0 }],
        [{ "node": "Respond Error Invalid Booking", "type": "main", "index": 0 }]
      ]
    },
    "Respond Error Invalid Booking": { "main": [] },
    "Validations": { "main": [[{ "node": "If Validation Failed", "type": "main", "index": 0 }]] },
    "If Validation Failed": {
      "main": [
        [{ "node": "Get Property Coords", "type": "main", "index": 0 }],
        [{ "node": "Respond Error Validation", "type": "main", "index": 0 }]
      ]
    },
    "Respond Error Validation": { "main": [] },
    "Get Property Coords": { "main": [[{ "node": "Haversine and GPS Status", "type": "main", "index": 0 }]] },
    "Haversine and GPS Status": { "main": [[{ "node": "If GPS Invalid", "type": "main", "index": 0 }]] },
    "If GPS Invalid": {
      "main": [
        [{ "node": "Late Check", "type": "main", "index": 0 }],
        [{ "node": "Respond Error Validation", "type": "main", "index": 0 }]
      ]
    },
    "Late Check": { "main": [[{ "node": "If Late", "type": "main", "index": 0 }]] },
    "If Late": {
      "main": [
        [{ "node": "Send Late Clock-In Email", "type": "main", "index": 0 }],
        [{ "node": "Re-Fetch Job Before Update", "type": "main", "index": 0 }]
      ]
    },
    "Send Late Clock-In Email": { "main": [[{ "node": "Re-Fetch Job Before Update", "type": "main", "index": 0 }]] },
    "Re-Fetch Job Before Update": { "main": [[{ "node": "Check Race Condition", "type": "main", "index": 0 }]] },
    "Check Race Condition": { "main": [[{ "node": "If Race Condition", "type": "main", "index": 0 }]] },
    "If Race Condition": {
      "main": [
        [{ "node": "Update Cleaning Job Row", "type": "main", "index": 0 }],
        [{ "node": "Respond 409 Already Recorded", "type": "main", "index": 0 }]
      ]
    },
    "Respond 409 Already Recorded": { "main": [] },
    "Update Cleaning Job Row": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] },
    "Respond Success": { "main": [] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
