Workflow3B_ClockIn_Validation_Processor.json
{
  "name": "Workflow 3B - ClockIn Validation Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "4269fd89-ce4c-412d-945e-e1b6cbfd2ed8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        864
      ],
      "notes": "Runs every minute. For 'Row Updated' use Google Sheets Trigger on ClockInSubmissions if available."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "1aaed338-4cc5-47c8-bcc1-3474658042c5",
      "name": "Read ClockInSubmissions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -976,
        864
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Read all rows. Next node filters to processingStatus = PENDING only."
    },
    {
      "parameters": {
        "jsCode": "// Only continue if processingStatus = PENDING (per spec).\nconst items = $input.all();\nconst pending = items.filter(i => (i.json?.processingStatus ?? '').toString().trim() === 'PENDING');\nreturn pending.length ? pending : [];"
      },
      "id": "f5a042a4-52fc-44a8-91f8-66246b89e85c",
      "name": "Only PENDING",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        864
      ],
      "notes": "Only continue if processingStatus = PENDING."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "CleaningJobs",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "bookingUid",
              "lookupValue": "={{ $json.bookingUid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fda94f81-56bb-461b-8e02-ed185c0d4ac6",
      "name": "Get Booking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -528,
        864
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lookup CleaningJobs by bookingUid."
    },
    {
      "parameters": {
        "jsCode": "// Merge each submission with its Get Booking result (same index).\nconst pendingItems = $('Only PENDING').all();\nconst jobItems = $input.all();\nreturn jobItems.map((jobItem, i) => {\n  const submission = pendingItems[i]?.json || {};\n  const job = jobItem.json || {};\n  return { json: { ...submission, ...job } };\n});"
      },
      "id": "874efefd-9c5f-4e64-8e2c-38365053cfa4",
      "name": "Merge Submission and Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        864
      ],
      "notes": "Combine submission + CleaningJobs row for cleaner validation."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cleaner-match",
              "leftValue": "={{ $json.cleanerId }}",
              "rightValue": "={{ $json.cleanerIdFromForm }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1e0bfda-eb19-4d4c-991b-2aea82ced97f",
      "name": "Validate Cleaner Assignment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        864
      ],
      "notes": "TRUE = cleaner assigned to booking; FALSE = reject and stop."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "processingStatus": "REJECTED",
            "resultMessage": "Cleaner not assigned to this booking",
            "processedAt": "={{ $now.toISO() }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleanerIdFromForm",
              "displayName": "cleanerIdFromForm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLat",
              "displayName": "gpsLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLng",
              "displayName": "gpsLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionTimestamp",
              "displayName": "submissionTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processingStatus",
              "displayName": "processingStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultMessage",
              "displayName": "resultMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "037dc4fa-e015-4bc3-b2de-3d3b4ed376e4",
      "name": "Reject Cleaner Not Assigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        368,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Set processingStatus=REJECTED, resultMessage, processedAt; then stop."
    },
    {
      "parameters": {
        "jsCode": "// Pass through TRUE-branch items so Merge Coords can reference them reliably.\nreturn $input.all();"
      },
      "id": "5f058704-7dd2-4f78-899b-2ddaa14a087f",
      "name": "Pass TRUE items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        864
      ],
      "notes": "Holds only TRUE-branch items for combine-by-position in Merge Coords."
    },
    {
      "parameters": {
        "jsCode": "// Combine by position: submission+job (Pass TRUE items) with coords (Get Property Coordinates).\nconst submissionItems = $('Pass TRUE items').all();\nconst coordsItems = $('Refining feilds').all();\nconst len = Math.min(submissionItems.length, coordsItems.length);\nif (len === 0) return [];\nconst out = [];\nfor (let i = 0; i < len; i++) {\n  const sub = submissionItems[i]?.json || {};\n  const coord = coordsItems[i]?.json || {};\n  out.push({ json: { ...sub, ...coord } });\n}\nreturn out;"
      },
      "id": "9520467b-a8aa-40ea-98e1-f4b7c95fa399",
      "name": "Merge Coords with Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1056
      ],
      "notes": "Combine by position: TRUE-branch (submission+job) + coords for distance calc."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Properties",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "propertyUid",
              "lookupValue": "={{ $json.propertyUid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ed9f433-4945-4ea8-96ff-8c6466d89c6e",
      "name": "Get Property Coordinates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        368,
        1056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lookup CleanersProfile by cleanerId (column exists in sheet); returns latitude, longitude."
    },
    {
      "parameters": {
        "jsCode": "// Haversine distance in meters. Input = Merge output (submission+job+coords combined by position).\nconst items = $input.all();\nconst R = 6371000;\nconst toRad = deg => deg * (Math.PI / 180);\nreturn items.map(item => {\n  const j = item.json || {};\n  const userLat = parseFloat(j.gpsLat);\n  const userLng = parseFloat(j.gpsLng);\n  const propertyLat = parseFloat(j.latitude);\n  const propertyLng = parseFloat(j.longitude);\n  let distance = NaN;\n  if (Number.isFinite(userLat) && Number.isFinite(userLng) && Number.isFinite(propertyLat) && Number.isFinite(propertyLng)) {\n    const dLat = toRad(propertyLat - userLat);\n    const dLng = toRad(propertyLng - userLng);\n    const a = Math.sin(dLat/2)*Math.sin(dLat/2) + Math.cos(toRad(userLat))*Math.cos(toRad(propertyLat))*Math.sin(dLng/2)*Math.sin(dLng/2);\n    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    distance = R * c;\n  }\n  return { json: { ...j, distance: Number.isFinite(distance) ? distance : 999999 } };\n});"
      },
      "id": "d259d0ae-fc38-43f1-b6a1-542acf5418ba",
      "name": "DistanceCalculation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        1056
      ],
      "notes": "Haversine: user lat/lng vs property lat/lng; return distance in meters."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "inside-radius",
              "leftValue": "={{ $json.distance }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2911e49f-cc6e-4d47-9449-c75bf05e2ed6",
      "name": "Radius Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1264,
        1056
      ],
      "notes": "TRUE = inside 100m → APPROVED; FALSE = outside → REJECTED."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processingStatus": "APPROVED",
            "resultMessage": "Clock-in successful",
            "processedAt": "={{ $now.toISO() }}",
            "row_number": "={{ $json.row_number }}",
            "bookingUid": "={{ $json.bookingUid }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleanerIdFromForm",
              "displayName": "cleanerIdFromForm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLat",
              "displayName": "gpsLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLng",
              "displayName": "gpsLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionTimestamp",
              "displayName": "submissionTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processingStatus",
              "displayName": "processingStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultMessage",
              "displayName": "resultMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7babce1e-5d47-4988-ac11-dfa83c0be5c1",
      "name": "Update APPROVED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1488,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "processingStatus=APPROVED, resultMessage=Clock-in successful, processedAt."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "CleaningJobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "status": "IN_PROGRESS",
            "clockInTimeUTC": "={{ $('DistanceCalculation').item.json.submissionTimestamp }}",
            "gpsClockInLat": "={{ $('DistanceCalculation').item.json.gpsLat }}",
            "gpsClockInLng": "={{ $('DistanceCalculation').item.json.gpsLng }}",
            "gpsStatus": "INSIDE_RADIUS",
            "row_number": 0
          },
          "matchingColumns": [
            "bookingUid"
          ],
          "schema": [
            {
              "id": "cleaningJobId",
              "displayName": "cleaningJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "propertyUid",
              "displayName": "propertyUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cleaningDate",
              "displayName": "cleaningDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cleaningTime",
              "displayName": "cleaningTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignedCleaner",
              "displayName": "assignedCleaner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clockIn",
              "displayName": "clockIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clockOut",
              "displayName": "clockOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workedHours",
              "displayName": "workedHours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAtSystem",
              "displayName": "createdAtSystem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cleanerId",
              "displayName": "cleanerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assignedAt",
              "displayName": "assignedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notificationStatus",
              "displayName": "notificationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendarStatus",
              "displayName": "calendarStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendarEventId",
              "displayName": "calendarEventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendarId",
              "displayName": "calendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processingFlag",
              "displayName": "processingFlag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clockInTimeUTC",
              "displayName": "clockInTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gpsClockInLat",
              "displayName": "gpsClockInLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gpsClockInLng",
              "displayName": "gpsClockInLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gpsStatus",
              "displayName": "gpsStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lateFlag",
              "displayName": "lateFlag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checkoutTimeUTC",
              "displayName": "checkoutTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scheduledCleaningTimeUTC",
              "displayName": "scheduledCleaningTimeUTC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "539b3f22-491a-4de0-b754-3e7f651af2ce",
      "name": "Update CleaningJobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2016,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "When ClockIn = APPROVED: set CleaningJobs status=IN_PROGRESS, clockInTimeUTC, gps fields, gpsStatus=INSIDE_RADIUS."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processingStatus": "REJECTED",
            "resultMessage": "Cleaner outside allowed 100m radius",
            "processedAt": "={{ $now.toISO() }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleanerIdFromForm",
              "displayName": "cleanerIdFromForm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLat",
              "displayName": "gpsLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLng",
              "displayName": "gpsLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionTimestamp",
              "displayName": "submissionTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processingStatus",
              "displayName": "processingStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultMessage",
              "displayName": "resultMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ff26d8fd-7fec-4121-8e22-db24b342c116",
      "name": "Update REJECTED (radius)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1488,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "processingStatus=REJECTED, resultMessage outside 100m, processedAt."
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1056
      ],
      "id": "e29aa6a3-d53e-4bac-b808-fca4c6560547",
      "name": "Refining feilds"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "row_number ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        864
      ],
      "id": "3f60e0d2-41aa-490c-b6d8-0edc2d8f2699",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Radius Check').item.json.email }}",
        "subject": "Clock-In Rejected – Location Outside Allowed Radius",
        "emailType": "text",
        "message": "=Hi {{ $('Radius Check').item.json.assignedCleaner }}, Your recent clock-in attempt could not be accepted because your location was detected outside the allowed distance from the property.\n Property: {{ $('Radius Check').item.json['propertyName '] }}\n Booking Reference: {{ $('Radius Check').item.json.bookingUid }}\n Detected Distance in meters : {{ $('Radius Check').item.json.distance }}\nPlease move closer to the property and try clocking in again. If you believe this is an error, contact your manager. Thank you ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        1168
      ],
      "id": "3f84ba3d-299a-495f-b729-c61e008f4c96",
      "name": "Send Rejected message",
      "webhookId": "c00aa8d4-7bd4-4a09-aacb-99a631fad35e",
      "credentials": {
        "gmailOAuth2": {
          "id": "6sr232YN6z3c4tiW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        1392
      ],
      "id": "f9f2e08a-282f-46a4-b4f2-eca452573662",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 821160971,
          "mode": "list",
          "cachedResultName": "CleanersProfile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit#gid=821160971"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cleanerId",
              "lookupValue": "={{ $('Radius Check').item.json.cleanerIdFromForm }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        1152
      ],
      "id": "d9dee007-a648-48ed-82e2-431f37ee36ee",
      "name": "Getting Cleaners Profile",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4b06783-388d-4038-8191-216a013ee103",
              "leftValue": "= {{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2064,
        1184
      ],
      "id": "082b3c5a-2f4b-4934-b67b-cc4d20e6ba1a",
      "name": "Checking If Cleaner Exists"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1635606104,
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit#gid=1635606104"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cleaningStatus": "IN_PROGRESS",
            "bookingUid": "={{ $json.bookingUid }}"
          },
          "matchingColumns": [
            "bookingUid"
          ],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "propertyUid",
              "displayName": "propertyUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guestName",
              "displayName": "guestName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkIn",
              "displayName": "checkIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkOut",
              "displayName": "checkOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "adultCount",
              "displayName": "adultCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdUtc",
              "displayName": "createdUtc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningStatus",
              "displayName": "cleaningStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleaningJobId",
              "displayName": "cleaningJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAtSystem",
              "displayName": "createdAtSystem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "childrenCount",
              "displayName": "childrenCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maintenanceStatus",
              "displayName": "maintenanceStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payrollStatus",
              "displayName": "payrollStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        960
      ],
      "id": "84d5fbff-8bac-40fb-a6a6-4a1dbdd80cf5",
      "name": "Updating Status in Reservation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Radius Check').item.json.email }}",
        "subject": "Clock-In Confirmed – {{ $('Radius Check').item.json['propertyName '] }}",
        "emailType": "text",
        "message": "=Hi {{ $('Radius Check').item.json.assignedCleaner }}, Your clock-in has been successfully recorded.\nProperty: {{ $('Radius Check').item.json['propertyName '] }}\nBooking Reference: {{ $('Radius Check').item.json.bookingUid }}\nClock-In Time (UTC): {{ $('Radius Check').item.json.scheduledCleaningTimeUTC }}\n\nLocation Status: Within allowed radius You can proceed with the cleaning as scheduled. Thank you, ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2608,
        960
      ],
      "id": "164cc0fe-a363-4de5-ad13-d5d85f0bfd0f",
      "name": "Send Aprooved Message",
      "webhookId": "c00aa8d4-7bd4-4a09-aacb-99a631fad35e",
      "credentials": {
        "gmailOAuth2": {
          "id": "6sr232YN6z3c4tiW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read ClockInSubmissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ClockInSubmissions": {
      "main": [
        [
          {
            "node": "Only PENDING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only PENDING": {
      "main": [
        [
          {
            "node": "Get Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Submission and Job": {
      "main": [
        [
          {
            "node": "Validate Cleaner Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Cleaner Assignment": {
      "main": [
        [
          {
            "node": "Reject Cleaner Not Assigned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Property Coordinates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass TRUE items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property Coordinates": {
      "main": [
        [
          {
            "node": "Refining feilds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Coords with Submission": {
      "main": [
        [
          {
            "node": "DistanceCalculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DistanceCalculation": {
      "main": [
        [
          {
            "node": "Radius Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Radius Check": {
      "main": [
        [
          {
            "node": "Update APPROVED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update REJECTED (radius)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update APPROVED": {
      "main": [
        [
          {
            "node": "Update CleaningJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refining feilds": {
      "main": [
        [
          {
            "node": "Merge Coords with Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge Submission and Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CleaningJobs": {
      "main": [
        [
          {
            "node": "Updating Status in Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update REJECTED (radius)": {
      "main": [
        [
          {
            "node": "Getting Cleaners Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Cleaners Profile": {
      "main": [
        [
          {
            "node": "Checking If Cleaner Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking If Cleaner Exists": {
      "main": [
        [
          {
            "node": "Send Rejected message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updating Status in Reservation": {
      "main": [
        [
          {
            "node": "Send Aprooved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1edaaa86-feb7-49e8-b90a-21776427842c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a182e137b0efa52bc5ca70ffff0b22c853fa1e0bdd46efb5c0d20201c291f2e"
  },
  "id": "B7duBLBoOCdLpztS",
  "tags": []
}