Workflow3_FormResponsesToClockInSubmissions.json
{
  "name": "Workflow 3 – Form Responses 1 to ClockInSubmissions",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2132726156,
          "mode": "list",
          "cachedResultName": "Raw Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit#gid=2132726156"
        },
        "options": {}
      },
      "id": "ac7dbbca-b849-4b49-9538-baa0837040ae",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        976,
        304
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "E2pL4RCwwnxZSv1L",
          "name": "Google Sheets Trigger account"
        }
      },
      "notes": "Trigger on: Row Added. Sheet: Form Responses 1."
    },
    {
      "parameters": {
        "jsCode": "// Normalize form item and detect short Maps link (so we can branch: short = HTTP Request, else = ParseAndValidate).\nconst item = $input.first().json;\nconst get = (name) => {\n  const v = item[name];\n  if (v !== undefined && v !== null) return v;\n  const key = Object.keys(item).find(k => k.trim() === name);\n  return key !== undefined ? item[key] : undefined;\n};\nconst captureLocation = (get('Capture Location') ?? '').toString().trim();\nconst isShortLink = /^(https?:\\/\\/)?(www\\.)?(maps\\.app\\.goo\\.gl|goo\\.gl\\/maps)\\/\\S+/i.test(captureLocation);\nreturn [{ json: { ...item, captureLocation, isShortLink } }];"
      },
      "id": "69e871eb-b6c1-4a98-be3f-347893d12dec",
      "name": "Normalize and Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ],
      "notes": "Add captureLocation and isShortLink. Short link → HTTP Request branch; else → ParseAndValidate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "short",
              "leftValue": "={{ $json.isShortLink }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3c1eb23-5ee5-4637-89eb-38109fdb5c13",
      "name": "Is Short Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1424,
        304
      ],
      "notes": "TRUE = short Maps link → resolve via HTTP Request. FALSE = full URL or lat,lng → ParseAndValidate."
    },
    {
      "parameters": {
        "url": "={{ $json.captureLocation }}",
        "options": {}
      },
      "id": "b4637ee7-9b18-4df5-8433-8115c5bc33f5",
      "name": "Resolve Short Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        208
      ],
      "notes": "GET short Maps URL; follow redirects. Response body contains coords (e.g. q=lat,lng)."
    },
    {
      "parameters": {
        "jsCode": "// Parse coords from HTTP response body (Google Maps page HTML). Form data from Normalize and Check.\nconst form = $('Normalize and Check').first().json;\nconst get = (name) => { const v = form[name]; if (v !== undefined && v !== null) return v; const key = Object.keys(form).find(k => k.trim() === name); return key !== undefined ? form[key] : undefined; };\nconst bookingUid = get('Booking ID');\nconst cleanerId = get('Cleaner ID');\nconst confirmArrival = (get('Confirm Arrival') ?? '').toString().trim();\nif (!confirmArrival || confirmArrival.toLowerCase() !== 'yes') throw new Error('Arrival not confirmed');\n\nconst resp = $input.first().json;\nconst raw = (resp.data != null ? resp.data : resp.body != null ? resp.body : typeof resp === 'string' ? resp : JSON.stringify(resp));\nconst str = typeof raw === 'string' ? raw : String(raw);\n// Match q=lat%2Clng or lat,lng or 3dLat...4dLng in HTML\nlet m = str.match(/q=(-?\\d+\\.\\d+)%2C(-?\\d+\\.\\d+)/);\nif (!m) m = str.match(/(-?\\d+\\.\\d+),(-?\\d+\\.\\d+)/);\nif (!m) m = str.match(/3d(-?\\d+\\.\\d+)[^4]*4d(-?\\d+\\.\\d+)/);\nif (!m) throw new Error('Could not find coordinates in short link response.');\nconst gpsLat = m[1];\nconst gpsLng = m[2];\n\nreturn [{\n  json: {\n    bookingUid,\n    cleanerId,\n    gpsLat,\n    gpsLng,\n    submissionTimestamp: new Date().toISOString(),\n    processingStatus: 'PENDING',\n    resultMessage: '',\n    processedAt: ''\n  }\n}];"
      },
      "id": "e9cb385d-cdc6-427e-9a22-c989295870f7",
      "name": "Parse Short Link Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        208
      ],
      "notes": "Extract lat,lng from response body; output same structure as ParseAndValidate."
    },
    {
      "parameters": {
        "jsCode": "// ParseAndValidate: full URL, lat,lng, or DMS. Use captureLocation when present (from Normalize and Check).\nconst item = $('Normalize and Check').first().json;\nconst get = (name) => {\n  const v = item[name];\n  if (v !== undefined && v !== null) return v;\n  const key = Object.keys(item).find(k => k.trim() === name);\n  return key !== undefined ? item[key] : undefined;\n};\nconst bookingUid = get('Booking ID');\nconst cleanerId = get('Cleaner ID');\nconst confirmArrival = (get('Confirm Arrival') ?? '').toString().trim();\nconst mapsLink = (item.captureLocation != null ? item.captureLocation : get('Capture Location') ?? '').toString().trim();\nif (!confirmArrival || confirmArrival.toLowerCase() !== 'yes') throw new Error('Arrival not confirmed');\nif (!mapsLink) throw new Error('Location link missing');\n\nfunction parseLatLngFromString(str) {\n  const latLngRegex = /(-?\\d+\\.\\d+),(-?\\d+\\.\\d+)/;\n  const m = str.match(latLngRegex);\n  if (m) return { lat: m[1], lng: m[2] };\n  const dmsRegex = /(\\d+)[°º]\\s*(\\d+)['′]\\s*([\\d.]+)[\"″]?\\s*([NS])\\s*(\\d+)[°º]\\s*(\\d+)['′]\\s*([\\d.]+)[\"″]?\\s*([EW])/i;\n  const dms = str.match(dmsRegex);\n  if (!dms) return null;\n  const latSign = dms[4].toUpperCase() === 'S' ? -1 : 1;\n  const lngSign = dms[8].toUpperCase() === 'W' ? -1 : 1;\n  const lat = latSign * (parseInt(dms[1],10) + parseInt(dms[2],10)/60 + parseFloat(dms[3])/3600);\n  const lng = lngSign * (parseInt(dms[5],10) + parseInt(dms[6],10)/60 + parseFloat(dms[7])/3600);\n  return { lat: String(lat), lng: String(lng) };\n}\nconst parsed = parseLatLngFromString(mapsLink);\nif (!parsed) throw new Error('Invalid Google Maps link format: could not find coordinates (use a link that opens to a pin, or paste lat,lng or DMS).');\nreturn [{ json: { bookingUid, cleanerId, gpsLat: parsed.lat, gpsLng: parsed.lng, submissionTimestamp: new Date().toISOString(), processingStatus: 'PENDING', resultMessage: '', processedAt: '' } }];"
      },
      "id": "f3f979b3-ef8f-4e60-8f2d-22893277e29f",
      "name": "ParseAndValidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        400
      ],
      "notes": "Extract fields, validate arrival and location, parse lat/lng from full URL, lat,lng, or DMS."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "bookingUid",
              "lookupValue": "={{ $json.bookingUid }}"
            },
            {
              "lookupColumn": "processingStatus",
              "lookupValue": "APPROVED"
            }
          ]
        },
        "options": {}
      },
      "id": "57477611-843e-4d7c-ba08-e24f37174dbe",
      "name": "Lookup Existing ClockIn",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2096,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lookup ClockInSubmissions by bookingUid. Next node rejects if any row is APPROVED."
    },
    {
      "parameters": {
        "jsCode": "// Duplicate protection: if this bookingUid already has an APPROVED clock-in, do not insert (return 0 items).\nconst existing = $input.all();\nlet parsed;\ntry { parsed = $('Parse Short Link Response').first().json; } catch (_) {}\nif (!parsed) try { parsed = $('ParseAndValidate').first().json; } catch (_) {}\nif (!parsed) throw new Error('Missing parsed submission');\nconst hasApproved = existing.some(i => (i.json?.processingStatus ?? '').toString().trim() === 'APPROVED');\nif (hasApproved) return [];\nreturn [{ json: parsed }];"
      },
      "id": "702b60df-221f-4b08-909d-8a5d71d7d7f8",
      "name": "Reject If Already Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        304
      ],
      "alwaysOutputData": false,
      "notes": "If any existing row has processingStatus=APPROVED, return no items (no insert). Otherwise pass parsed item to Insert."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g",
          "mode": "list",
          "cachedResultName": "hostfully",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12q_ZZJEkE6xQGJH0XxwCFlt821lpEBgCjLkfm0GmX-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "ClockInSubmissions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingUid": "={{ $json.bookingUid }}",
            "gpsLat": "={{ $json.gpsLat }}",
            "gpsLng": "={{ $json.gpsLng }}",
            "submissionTimestamp": "={{ $json.submissionTimestamp }}",
            "processingStatus": "={{ $json.processingStatus }}",
            "resultMessage": "={{ $json.resultMessage }}",
            "processedAt": "={{ $json.processedAt }}",
            "cleanerIdFromForm": "={{ $json.cleanerId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "bookingUid",
              "displayName": "bookingUid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cleanerIdFromForm",
              "displayName": "cleanerIdFromForm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gpsLat",
              "displayName": "gpsLat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gpsLng",
              "displayName": "gpsLng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submissionTimestamp",
              "displayName": "submissionTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processingStatus",
              "displayName": "processingStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultMessage",
              "displayName": "resultMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3dadc411-0ff3-42c9-be64-d8888c83f5c0",
      "name": "Insert Structured Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2544,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q52dbWoN6OaKRDZO",
          "name": "Google Sheets account"
        }
      },
      "notes": "Append one row to ClockInSubmissions with exact column mapping. Only runs when no APPROVED row exists for this bookingUid."
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Normalize and Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Check": {
      "main": [
        [
          {
            "node": "Is Short Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Short Link?": {
      "main": [
        [
          {
            "node": "Resolve Short Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ParseAndValidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Short Link": {
      "main": [
        [
          {
            "node": "Parse Short Link Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Short Link Response": {
      "main": [
        [
          {
            "node": "Lookup Existing ClockIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseAndValidate": {
      "main": [
        [
          {
            "node": "Lookup Existing ClockIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Existing ClockIn": {
      "main": [
        [
          {
            "node": "Reject If Already Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject If Already Approved": {
      "main": [
        [
          {
            "node": "Insert Structured Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e2ef8e3-079b-4e28-a8d8-2329ce260309",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a182e137b0efa52bc5ca70ffff0b22c853fa1e0bdd46efb5c0d20201c291f2e"
  },
  "id": "ieebrbqVyvQwb0ig",
  "tags": []
}